uspapercupfactory.com, www.uspapercupfactory.com {
    # Serve uploads directly from the volume
    handle_path /uploads/* {
        root * /uploaded_files
        file_server
    }

    # Serve static images directly
    handle_path /images/* {
        root * /app_public/images
        file_server
    }

    reverse_proxy web:3000
}
