
version: '3'

services:
  web:
    build: .
    container_name: us_paper_cup_web
    restart: always
    # ports:
    #   - "3000:3000" # Not exposed directly anymore, access via Caddy
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_Stripe_PUBLISHABLE_KEY=${NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_URL=https://uspapercupfactory.com
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - AUTH_TRUST_HOST=true
      - DATABASE_URL=postgresql://postgres:papercup_secure_pass_2025@db:5432/uspapercup?schema=public
    volumes:
      - ./public:/app/public # Allow hot-reloading of public assets
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=papercup_secure_pass_2025
      - POSTGRES_DB=uspapercup
    volumes:
      - postgres_data:/var/lib/postgresql/data

  caddy:
    image: caddy:2-alpine
    restart: unless-stopped
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - web

volumes:
  caddy_data:
  caddy_config:
  postgres_data:
